{% extends "base.html" %}
{% block content %}
<div class="auth-container">
  <div class="auth-card">

    <h2>Doctor Registration</h2>

    <form method="POST">

      <label>Name</label>
      <input type="text" name="name" required>

      <label>Specialization</label>
      <input type="text" name="specialization" required>

      <label>Clinic Location</label>
      <input type="text" name="clinic_location" required>

      <label>Email</label>
      <input type="email" name="email" required>

      <label>Mobile Number</label>
      <input type="text" name="mobile" required>

      <label>Password</label>
      <input type="password" name="password" required>

      <label>Confirm Password</label>
      <input type="password" name="confirm_password" required>

      <button class="btn primary">Register</button>
    </form>

    <div class="auth-links">
      <p>Already registered? <a href="{{ url_for('login') }}">Login</a></p>
    </div>

  </div>
</div>
{% endblock %}
